## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,abu kamal,SY,79.25,clear sky,34.4506,40.9171,البوكمال
1,9,roebourne,AU,73.58,scattered clouds,-20.7833,117.1333,Latitude20 Roebourne Village
2,12,vanimo,PG,81.12,scattered clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
3,14,kavaratti,IN,83.01,light rain,10.5669,72.6420,Hotels in Lakshadweep Islands
4,16,port alfred,ZA,77.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [104]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "half moon bay"]
vacation_end = vacation_df.loc[vacation_df["City"] == "half moon bay"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "pacific grove"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "healdsburg"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "san anselmo"] 
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
211,596,pacific grove,US,74.39,overcast clouds,36.6177,-121.9166,Lovers Point Inn

In [151]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_df[["Lat", "Lng"]].to_numpy()[vacation_start.index][0]
end = vacation_df[["Lat", "Lng"]].to_numpy()[vacation_end.index][0]
stop1 = vacation_df[["Lat", "Lng"]].to_numpy()[vacation_stop1.index][0]
stop2 = vacation_df[["Lat", "Lng"]].to_numpy()[vacation_stop2.index][0]
stop3 = vacation_df[["Lat", "Lng"]].to_numpy()[vacation_stop3.index][0]

In [153]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions_layer = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
fig.add_layer(directions_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [154]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,447,half moon bay,US,75.11,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
1,596,pacific grove,US,74.39,overcast clouds,36.6177,-121.9166,Lovers Point Inn
2,441,healdsburg,US,77.34,broken clouds,38.6105,-122.8692,Best Western Dry Creek Inn
3,530,san anselmo,US,77.14,clear sky,37.9747,-122.5616,Four Points by Sheraton San Rafael Marin County
4,447,half moon bay,US,75.11,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [156]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [158]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))